@import "tailwindcss";

.nav-link {
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #F4C542;
}

/* Hide Scrollbar */

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
}

.hide-scrollbar {
    scrollbar-width: none;
}