@import "tailwindcss";

.nav-link {
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #F4C542;
}

/* Hide Scrollbar */

.hide-scrollbar::-webkit-scrollbar {
    width: 0;
}

.hide-scrollbar {
    scrollbar-width: none;
}
/* Register Form Scrollbar */

.register-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.register-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.register-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(244, 197, 66, 0.7);
    border-radius: 999px;
}

.register-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(244, 197, 66, 1);
}